<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
   <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="static/images/logo.png">

<meta name="mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E$UKA - Splash Screen</title>

  <!-- Favicon -->
<link rel="webicon"href="staticlogo.png">
<link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#082630">
<link rel="apple-touch-icon" href="/static/logo.png">


  <!-- Splash Design -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">


   <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://miniezuka-production.up.railway.app/" />
  <meta property="og:title" content="ÉZUKA - Transferts d'argent rapides" />
  <meta property="og:description" content="Faites vos transferts d'argent facilement et en toute sécurité avec ÉZUKA." />
 <meta property="og:image" content="https://i.postimg.cc/bw4C62zX/logo.png" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://miniezuka-production.up.railway.app/" />
  <meta name="twitter:title" content="ÉZUKA - Transferts d'argent rapides" />
  <meta name="twitter:description" content="Faites vos transferts d'argent facilement et en toute sécurité avec ÉZUKA." />
  <meta name="twitter:image" content="https://i.postimg.cc/bw4C62zX/logo.png" />
  <title>Bienvenue</title>
  <style>
    body { display:flex; justify-content:center; align-items:center; height:100vh; background:#f7faff; font-family:sans-serif; }
    .splash { text-align:center; }
    .splash img { width:150px; }
    .slogan { margin-top:20px; color:#1e3a8a; font-size:1.2rem; }
  </style>
</head>
<body>
  <div class="splash">
<img src="/static/logo.png" alt="Logo">
  <p class="slogan">Transférez et recevez tout simplement</p>
</div>
  <script>
    setTimeout(()=> window.location.href='/register', 4000);
  </script>
</body>
</html>
